.dropdown-menu {
    color: rgb(63, 67, 80);
}

.calendar-main-greed {
    padding: 20px;
    height: 100%;
}

.modal-view-event {
    opacity: 1 !important;
    margin-top: 60px;

}

.modal-view-event>.modal-content {
    background-color: var(--center-channel-bg) !important;
    color: var(--center-channel-bg) !important;
}

.modal-backdrop {
    opacity: 0.5 !important;
}

.input-group>a {
    display: block;
}

/* .modal-view-event > modal-header {
    background-color: #192a4d;
} */
.datetime-container {
    display: flex;
    margin-top: 15px;

}

.datetime-container>i {
    color: var(--sidebar-teambar-bg);
}

.event-title-container {
    display: flex;
}

.event-title-container>i {
    color: var(--sidebar-teambar-bg);
}

.event-add-users-container {
    display: flex;
    margin-top: 15px;
}

.event-add-users-container>i {
    color: var(--sidebar-teambar-bg);
}

.event-input-container {
    padding-left: 30px;
    width: 100%;
    display: flex;
}

.event-input-container>i {
    color: var(--sidebar-teambar-bg);
}

.calendar-header-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 20px;
}

.create-event-button-inner-container {
    display: flex;
}

.add-users-list {
    width: 100%;
    top: 37px;
    position: absolute;
    background-color: #ffffff;
    border: solid 1px #ccc;
    z-index: 10;
    overflow-y: auto;
    max-height: 190px;
}

.event-input-users-wrapper {
    display: block;
    position: relative;
    width: 100%;
}

.added-user-badge-container {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--sidebar-bg);
    border-radius: 25px;
    color: var(--sidebar-text);
    width: auto;
    display: flex;
    margin-top: 3px;
}

.added-user-badge-container>i {
    margin-left: 7px;
}

.added-users-list {
    display: flex;
    padding-left: 50px;
    margin-top: 6px;
    flex-wrap: wrap;
}

.user-list-item {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.user-list-item:hover {
    background-color: #f0f0f1;
}

.create-event-form {
    padding-bottom: 70px;
    /* color: var(--center-channel-color); */
}


/* ///////////////////////////// */

.calendar-main-greed {
    --fc-button-bg-color: var(--sidebar-teambar-bg) !important;
    --fc-button-hover-bg-color: var(--sidebar-text-hover-bg) !important;
    --fc-button-text-color: var(--sidebar-text) !important;
    /* --fc-border-color: var(--sidebar-text-hover-bg) !important; */
    --fc-border-color: rgba(var(--center-channel-color-rgb), 0.16) !important;
}

table {
    height: -webkit-fill-available !important;
}

.fc-col-header-cell-cushion>a {
    color: var(--sidebar-text) !important;
}

.fc-button-primary {
    border-color: var(--sidebar-teambar-bg) !important;
}


.date-arrow {
    padding-left: 6px;
    padding-right: 6px;
    margin: auto;
}

.create-event-modal-title {
    color: var(--global-header-text-rgb);
    font-weight: bold;
}

.close {
    color: var(--sidebar-text) !important;
}

.create-event-button-text {
    font-weight: bold;
}

.product-wrapper {
    background-color: var(--center-channel-bg) !important;
}

.event-modal-footer {
    display: flex;
    justify-content: space-between;
}

.recurrence-container {
    display: flex;
    padding-left: 45px;
    margin-top: 10px;
}

.form-check-days {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 5px;
    padding-right: 5px;
}

.event-channel-container {
    display: flex;
    margin-top: 15px;
}

.event-channel-container>i {
    color: var(--sidebar-teambar-bg);
}

.event-channel-input-container {
    padding-left: 30px;
    width: 100%;
    display: flex;
}

.event-input-channel-wrapper {
    display: block;
    position: relative;
    width: 100%;
}

.add-channels-list {
    width: 100%;
    top: 37px;
    position: absolute;
    background-color: #fff;
    border: solid 1px #ccc;
    z-index: 10;
    overflow-y: auto;
    max-height: 150px;
}

.channels-list-item {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #fff;
    cursor: pointer;
}