.dropdown-menu {
    color: rgb(63, 67, 80);
}

.calendar-main-greed {
    padding: 20px;
    height: 100%;
    flex-grow: 1;
}

.modal-view-event {
    opacity: 1 !important;
    margin-top: 60px;

}

.modal-view-event > .modal-content {
    background-color: var(--center-channel-bg) !important;
    color: var(--center-channel-bg) !important;
}

.modal-backdrop {
    opacity: 0.5 !important;
}

.input-group > a {
    display: block;
}

/* .modal-view-event > modal-header {
    background-color: #192a4d;
} */
.datetime-container {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;

}

.datetime-container > i {
    color: var(--sidebar-teambar-bg);
    width: 20px;
}

.event-title-container {
    display: flex;
    align-items: center;
}

.event-title-container > i {
    width: 20px;
}

.event-add-users-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.event-add-users-container > i {
    color: var(--sidebar-teambar-bg);
    width: 20px;
}

.event-input-container {
    width: 100%;
    display: flex;
    padding-left: 30px
}

.event-input-title {
    padding-left: 0px !important;
    width: 95%;
}

.event-input-container > i {
    color: var(--sidebar-teambar-bg);
}

.calendar-header-container {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-left: 20px;
}

.create-event-button-inner-container {
    display: flex;
}

.add-users-list {
    width: 95%;
    top: 37px;
    position: absolute;
    background-color: #ffffff;
    border: solid 1px #ccc;
    border-radius: 4px;
    z-index: 10;
    overflow-y: auto;
    max-height: 190px;
}

.event-input-users-wrapper {
    display: block;
    position: relative;
    width: 100%;
}

.event-input-users {
    width: 95%;
}

.added-user-badge-container {
    padding-right: 15px;
    background-color: var(--colorNeutralBackground1Hover);
    border-radius: 1.5rem;
    color: var(--sidebar-text);
    width: auto;
    display: flex;
    margin-top: 3px;
    align-items: center;
}

.added-user-badge-icon-container {
    color: var(--colorNeutralForeground1);
    margin-left: 12px;
    cursor: pointer;
}

.added-users-list {
    display: flex;
    padding-left: 50px;
    margin-top: 6px;
    flex-wrap: wrap;
}


.create-event-form {
    padding-bottom: 70px;
    /* color: var(--center-channel-color); */
}


/* ///////////////////////////// */

.calendar-main-greed {
    --fc-button-bg-color: var(--colorNeutralBackground1) !important;
    --fc-button-hover-bg-color: var(--colorNeutralBackground1Hover) !important;
    --fc-button-text-color: var(--colorNeutralForeground1) !important;

    --fc-button-active-border-color: var(--colorNeutralForeground1Pressed) !important;
    --fc-event-text-color: rgba(var(--global-header-text-rgb), 0.9) !important;

    /* color of main table */
    --fc-border-color: var(colorNeutralStroke2) !important;

    /* now indicator */
    --fc-now-indicator-color: var(--colorBrandBackground) !important;
}

/* calendar toolbar */

.fc .fc-toolbar {
    justify-content: flex-start !important;

}

.fc-toolbar-chunk {
    margin-right: 20px;
}

/* end calrndar toolbar */

/* day header */
.custom-day-header {
    display: flex;
    align-items: baseline;
    padding-top: 12px;
    padding-bottom: 3px;
    font-weight: 400;
}

.custom-day-header-day {
    margin-right: 8px;
    font-size: 20px;
    color: var(--neutralPrimaryAlt)
}

.custom-day-today {
    color: var(--colorBrandBackground);
    font-weight: 600;
}

.fc-day-today {
    position: relative !important;
}

.fc-day-today > .fc-scrollgrid-sync-inner::after {
    border-top: 4px solid;
    border-color: var(--colorBrandBackground);
    box-sizing: border-box;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* end day header */

/* calendar now indicator */
.fc .fc-timegrid-now-indicator-line {
    border-width: 3px 0px 0px !important;

}

.fc .fc-timegrid-now-indicator-line::before {
    background-color: var(--colorBrandBackground);
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-top: -8px;
    /* /* margin-left: -7px; */
}

/* end calrndar now indicator */
.fc .fc-timegrid-col.fc-day-today {
    background-color: inherit !important;
}

.fc .fc-col-header-cell-cushion {
    color: var(--colorNeutralForeground1) !important;
    font-weight: 300;
}

.fc .fc-col-header-cell-cushion {
    text-decoration: none;
}

table {
    height: -webkit-fill-available !important;
}

.fc-event-title-container {
    color: #3C4043;
    font-weight: 600;
}

.fc-event-time {
    color: #3C4043;
}

.fc-col-header-cell-cushion > a {
    color: var(--sidebar-text) !important;
}

.fc-button-primary {
    border-color: var(--sidebar-teambar-bg) !important;
}


.date-arrow {
    padding-left: 6px;
    padding-right: 6px;
    margin: auto;
}

.date-arrow > i {
    width: 10px;
}

.event-modal-title {
    display: flex;
    flex-direction: row-reverse;
}

.close {
    color: var(--sidebar-text) !important;
}

.create-event-button-text {
    font-weight: bold;
}

.product-wrapper {
    background-color: var(--center-channel-bg) !important;
}

.event-modal-footer {
    display: flex;
    justify-content: space-between;
}

.recurrence-container {
    display: flex;
    padding-left: 0px;
    margin-top: 10px;
    position: relative;
}

.form-check-days {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 5px;
    padding-right: 5px;
}

.event-channel-container {
    display: flex;
    margin-top: 15px;
}

.event-channel-container > i {
    color: var(--sidebar-teambar-bg);
    width: 20px;
}

.event-channel-input-container {
    padding-left: 30px;
    width: 100%;
    display: flex;
}

.event-channel-input {
    width: 95%;
}

.event-input-channel-wrapper {
    display: block;
    position: relative;
    width: 100%;
}

.add-channels-list {
    width: 95%;
    top: 37px;
    position: absolute;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    z-index: 10;
    overflow-y: auto;
    max-height: 150px;
}

.channels-list-item {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #fff;
    cursor: pointer;
}

.event-color-container {
    display: flex;
    margin-top: 15px;
}

.event-color-container > i {
    color: var(--sidebar-teambar-bg);
    width: 20px;
}

.event-color-button {
    border: unset;
    position: absolute;
    left: 8px;
    top: 0;
}

.dropdown-menu-color {
    width: 40px;
    min-width: 40px !important;
}

.event-color-items {

}

.event-color-red {
    color: #D50000;
}
.event-color-red > i {
    color: #D50000;
}

.event-color-green {
    color: #0B8043;
}
.event-color-green > i {
    color: #0B8043;
}

.event-color-blue {
    color: #039BE5;
}
.event-color-blue > i {
    color: #039BE5;
}

.event-color-yellow {
    color: #F6BF26;
}
.event-color-yellow > i {
    color: #F6BF26;
}

.event-color-default {
    color: #616161;
}
.event-color-default > i {
    color: #616161;
}

.dropdown-color-button {
    min-width: 18px !important;
    width: 16px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    margin: 0 !important;
    padding: 0 !important;
    border: unset !important;
}

.dropdown-color-button > input {
    visibility: hidden;
}
.dropdown-color-button-listbox {
    min-width: 60px !important;
    left: 115px !important;
}
.fa-sort-down-color {
    margin-top: -3px;
    color: #6c757d;
}

.time-selector {
    margin-left: 5px;
}


/* repeat */

.repeat-container {
    padding-left: 53px;
    margin-top: 10px;
}

.repeat-select {
    width: 140px;
}

.repeat-type-selector {
    margin-top: 10px;
    width: 140px;
}

.repeat-every-input {
    margin-top: 10px;
    width: 140px;
    margin-left: 5px;
}

.repeat-type-select-container {
    display: flex;
    align-items: baseline;
}

.repeat-type-containe {
    display: block;
}

.repeat-every-label {
    margin-left: 7px;
}

/* end repeat */

/* fl ui */
.event-input-container-datetime {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.datetime-group {
    display: flex;
}

.datetime-group-end {
    margin-top: 8px;
}

.weekday-day-button {
    border: none;
    border-radius: 50%;
    font-size: 14px !important;
    height: 32px !important;
    margin-right: 5px !important;
    min-width: 0 !important;
    padding: 0;
    width: 32px !important;
    --colorNeutralBackground1Selected: var(--colorBrandBackground) !important;
    --colorNeutralBackground1Hover: var(--colorBrandBackground) !important;
    --colorNeutralForeground1Hover: #fff !important;
    --colorNeutralForeground1Selected: #fff !important;
}

.modal-container {
    /* padding-top: 15px !important; */
    /* padding-bottom: 80px !important; */
    /*margin-top: 10px;*/
}

.event-modal {
    min-height: 335px;
    margin-top: 10px;
}

.modal-container::-webkit-scrollbar {
    width: 5px;
}

.calendar-full-content {
}
.calendar-content {
    display: flex;
}
.left-bar-calendar-content {
    padding-top: 10px;
}
.left-bar-calendar-content .rdp {
    --rdp-cell-size: 25px !important;
}
.event-until-container {
    margin-top: 7px;
}
.selected-date-until {
    margin-left: 9px;
}
.repeat-date-until-popover .rdp {
    --rdp-cell-size: 25px !important;
}
.remove-selected-date-until {
    margin-left: 9px;
    color: var(--colorBrandBackground);
}
.event-until-open-calendar {
    color: var(--colorBrandBackground);
}